{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>PBRS - Home</title>
        <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Archivo&amp;display=swap">
        <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    </head>

    <body>
        {% include 'navbar.html' %}

        <section class="py-4 py-xl-5"
            style="background: url('{% static 'img/pexels-binyaminmellish-106399.jpg' %}'); background-position:center; background-size: cover; background-repeat: no-repeat;height: 50%;opacity: 1;filter: blur(0px);backdrop-filter: blur(0px);">
            <div class="container h-100">
                <div class="row h-100" style="border-style: none;">
                    <div
                        class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center"
                        style="font-family: Archivo, sans-serif;">
                        <div style="color: var(--bs-body-bg);">
                            <div class="d-flex flex-column align-items-center"
                                style="padding-top: 100px;">
                                <!-- <img src="{% static 'img/logo.png' %}" alt="Logo" style="width: 100px; height: 100px; margin-bottom: 15px;"> -->
                                <div
                                    class="shadow-lg p-3 mb-5 bg-secondary headline-bg rounded">
                                    <h4 class="text-uppercase fw-bold mb-3"
                                        style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);">your
                                        dream home awaits</h4> <p
                                        class="mb-4 fs-6"
                                        style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);">Discover
                                        the perfect place to call home with our
                                        expert realty services. From cozy
                                        apartments to luxurious estates, we’ll
                                        help you find a property that suits your
                                        lifestyle and budget. Let’s turn your
                                        home ownership dreams into
                                        reality.<br><br></p>
                                </div>
                                <!-- <h2 class="text-uppercase fw-bold mb-3" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);">your dream home awaits</h2> <p class="mb-4" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);"><br><span style="background-color: rgba(255, 255, 255, 0);">Discover the perfect place to call home with our expert realty services. From cozy apartments to luxurious estates, we’ll help you find a property that suits your lifestyle and budget. Let’s turn your home ownership dreams into reality.</span><br><br></p> -->
                                <form action="{% url 'listings' %}"
                                    class="w-75 d-md-flex justify-content-md-center align-items-md-center"
                                    style="padding: 10px;font-family: Archivo, sans-serif;padding-bottom: 50px;padding-top: 50px;"
                                    method="get">
                                    <!-- <input class="shadow d-inline" type="search" name="query" placeholder="Property name, location, etc..." style="border-radius: 30px;border-width: 0px;max-width: 100%;width: 75%;height: 40px;border-bottom-right-radius: 0px;border-top-right-radius: 0px;padding: 1px 16px;" onkeydown="if (event.keyCode === 13) { event.preventDefault(); this.form.submit(); }">
                    <button class="btn btn-primary shadow" type="submit" style="border-top-right-radius: 30px;border-top-left-radius: 0px;border-bottom-right-radius: 30px;border-bottom-left-radius: 0px;height: 40px;">Search</button>
                 -->
                                    <div class="input-group mb-3">
                                        <input type="search"
                                            class="form-control shadow"
                                            placeholder="Property name, location, etc..."
                                            name="query"
                                            aria-describedby="button-addon2"
                                            onkeydown="if (event.keyCode === 13) { event.preventDefault(); this.form.submit(); }">
                                        <button class="btn btn-primary shadow"
                                            type="submit"
                                            id="button-addon2">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <h3>Recently updated</h3>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 p-4">
                {% for house_listing in recent_listings %}
                <div class="col">
                    <a href="{% url 'listing_detail' house_listing.id %}"
                        class="text-decoration-none">
                        <div class="card shadow">
                            <img class="card-img-top w-100 d-block fit-cover"
                                style="height: 200px;"
                                src="{{ house_listing.imagemodel_set.first.image.url }}">
                            <div class="card-body p-4">
                                {% with house_listing.total_contract_price|floatformat:0 as formatted_number %}
                                <p class="text-primary card-text mb-0"
                                    style="color: rgb(106,160,37);">₱{{formatted_number|intcomma}}</p>
                                {% endwith %}
                                <h4
                                    class="card-title">{{house_listing.house_name}}</h4>
                                <p
                                    class="text-muted mb-0">{{house_listing.property_type}}</p>
                                <p
                                    class="card-text">{{house_listing.address}}</p>
                                <div class="d-flex">
                                    <div>
                                        <a
                                            href="tel:{{house_listing.agent_phone_number}}"
                                            class="fw-bold mb-0">{{house_listing.contact_agent}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
        {% include 'footer.html' %}

        {% include 'modals.html' %}

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>