{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PBRS - Listings</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans&amp;display=swap">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
</head>

<body style="border-style: solid;font-family: Archivo, sans-serif;">
    {% include 'navbar.html' %}
    <section class="py-4 py-xl-5" style="background: url('{% static 'img/pexels-binyaminmellish-106399.jpg' %}') center / cover no-repeat;color: #fff;filter: blur(0px);font-family: Archivo, sans-serif;">
        <div class="container h-100" style="padding-top: 70px;filter: blur(0px);backdrop-filter: blur(0px);-webkit-backdrop-filter: blur(0px);">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-center align-items-md-center justify-content-lg-center justify-content-xl-center" style="text-align: center;">
                    <div style="text-align: center;">
                        <h2 class="text-uppercase fw-bold mb-3">find your property with us</h2>
                        <p class="mb-4"><span style="background-color: rgba(255, 255, 255, 0);">Search for the best properties here with us in PBRS.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col">
                <p style="margin: 0px;padding-right: 10px;padding-left: 10px;">Search for a Property</p>
                <form action="{% url 'listings' %}" method="get">
                <input type="search" name="query" placeholder="Property name, agent name, type..." 
                        style="border-radius: 30px;padding: 1px 15px;border: 1px solid rgb(210,210,210) ;"
                        onkeydown="if (event.keyCode === 13) { this.form.submit(); }">
                </form>
            </div><div class="col">
            <form action="{% url 'listings' %}" method="get" style="display:inline;">
                
            
                    <p style="margin: 0px;padding-right: 10px;padding-left: 10px;">Location</p>
                    <select name="city" class="form-select" aria-label="Location" onchange="this.form.submit()" style="border-radius: 30px;border-width: 1px;border-color: rgb(210,210,210);color: rgb(0,0,0);">
                        <option value="" {% if not request.GET.city %}selected{% endif %}>All</option>
                        {% for city in cities %}
                        <option value="{{ city }}" {% if request.GET.city == city %}selected{% endif %}>{{ city }}</option>
                        {% endfor %}
                    </select>
                    <p style="margin: 0px;padding-right: 10px;padding-left: 10px;">Financing</p>
                    <select name="financing" class="form-select" aria-label="Financing" onchange="this.form.submit()" style="border-radius: 30px;border-width: 1px;border-color: rgb(210,210,210);color: rgb(0,0,0);">
                        <option value="" {% if not request.GET.financing %}selected{% endif %}>All</option>
                        {% for financing in financingTypes %}
                            {% if financing and financing != "" %}
                                <option value="{{ financing }}" {% if request.GET.financing == financing %}selected{% endif %}>{{ financing }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <p style="margin: 0px;padding-right: 10px;padding-left: 10px;">Property Type</p>
                    <select name="property_type" class="form-select" aria-label="Property Type" onchange="this.form.submit()" style="border-radius: 30px;border-width: 1px;border-color: rgb(210,210,210);color: rgb(0,0,0);">
                        <option value="" {% if not request.GET.property_type %}selected{% endif %}>All</option>
                        {% for type in property_types %}
                        <option value="{{ type }}" {% if request.GET.property_type == type %}selected{% endif %}>{{ type }}</option>
                        {% endfor %}
                    </select>
            </form>
        </div>
            <div class="col">
                <p style="margin: 0px; padding-right: 10px; padding-left: 10px;">Price</p>
                <form action="{% url 'listings' %}" method="get">
                    <input class="form-range" type="range" name="max_price" id="priceRange" step="100" min="{{ min_price }}" max="{{ max_price }}" value="{{ request.GET.max_price|default:max_price }}" oninput="updateCurrentPrice(this)">
                    <div>                        
                        <span id="currentPrice">Max Price: ₱{{ request.GET.max_price|default:max_price }}</span>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Apply Filter</button>
                </form>
            </div>
            <div class="col">
                <p style="margin: 0px; padding-right: 10px; padding-left: 10px;">Lot Area</p>
                <form action="{% url 'listings' %}" method="get">
                    <input class="form-range" type="range" name="max_lot_area" id="lotAreaRange" step="1" min="{{ min_lot_area }}" max="{{ max_lot_area }}" value="{{ request.GET.max_lot_area|default:max_lot_area }}" oninput="document.getElementById('currentLotArea').textContent = 'Max Lot Area: ' + this.value + ' sqm'">
                    <div style="display: flex; justify-content: space-between;">
                        <span id="currentLotArea">Max Lot Area: {{ request.GET.max_lot_area|default:max_lot_area }} sqm</span>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Apply Filter</button>
                </form>
            </div>
            <div class="col">
                <form action="{% url 'listings' %}" method="get">
                    <button type="submit" class="btn btn-secondary" style="border-radius: 30px;border-width: 1px;border-color: rgb(210,210,210);margin-top: 20px;">Reset Filters</button>
                </form>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            {% for house_listing in house_listings %}
                <div class="col">
                    <a href="{% url 'listing_detail' house_listing.id %}" class="text-decoration-none">
                        <div class="card">
                            <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="{{ house_listing.imagemodel_set.first.image.url }}">
                            <div class="card-body p-4">
                                {% with house_listing.total_contract_price|floatformat:0 as formatted_number %}
                                <p class="text-primary card-text mb-0" style="color: rgb(106,160,37);">₱{{formatted_number|intcomma}}</p>
                                {% endwith %}
                                <h4 class="card-title">{{house_listing.house_name}}</h4>
                                <p class="text-muted mb-0">{{house_listing.property_type}}</p>
                                <p class="card-text">{{house_listing.address}}</p>
                                <div class="d-flex">
                                    <div>
                                        <a href="tel:{{house_listing.agent_phone_number}}" class="fw-bold mb-0">{{house_listing.contact_agent}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        
    </div>
    {% include 'footer.html' %}
    {% include 'modals.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const PESO = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'PHP',
            minimumFractionDigits: 0,
            maximumFractionDigits: 0,
        });

        function updateCurrentPrice(elem){
            document.getElementById('currentPrice').textContent = 'Current: ' + PESO.format(elem.value);
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const priceRange = document.getElementById('priceRange');
            const currentPrice = document.getElementById('currentPrice');
            const urlParams = new URLSearchParams(window.location.search);
            const maxPrice = urlParams.get('max_price') || priceRange.value;

            
            currentPrice.textContent = 'Max Price: ' + PESO.format(maxPrice);
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const lotAreaRange = document.getElementById('lotAreaRange');
            const currentLotArea = document.getElementById('currentLotArea');
            const urlParams = new URLSearchParams(window.location.search);
            const maxLotArea = urlParams.get('max_lot_area') || lotAreaRange.value;
            currentLotArea.textContent = 'Max Lot Area: ' + maxLotArea + ' sqm';
        });
    </script>
</body>

</html>