<div class="modal fade" id="becomeAgentModal" tabindex="-1"
            aria-labelledby="becomeAgentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="becomeAgentModalLabel">Become a Real Estate
                            Agent</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container py-4 py-xl-5">
                            <div class="row mb-5">
                                <div
                                    class="row-md-10 col-xl-8 text-center mx-auto">
                                    <h2>Become a Real Estate Agent</h2>
                                    <p class="w-lg-50">Join the team by
                                        completing the requirements below.</p>
                                    <br>
                                    <h4>Positions</h4>
                                    <p>Full time/Part time</p>
                                    <ul class="text-start">
                                        <li>Sales Manager</li>
                                        <li>Salesperson</li>
                                    </ul>
                                    <br>
                                    <h4>Qualifications to Become a Real Estate
                                        Agent</h4>
                                    <ol class="text-start">
                                        <li>Completion of at least 2 years or 72
                                            units of college education.</li>
                                        <li>Of good moral character who has not
                                            been convicted of any crime
                                            involving moral turpitude.</li>
                                        <li>At least 12 credit units of training
                                            and seminars in real estate
                                            brokerage constituting.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="basicRequirementsModal" tabindex="-1"
            aria-labelledby="basicRequirementsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="basicRequirementsModalLabel">BASIC REQUIREMENTS</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container py-4 py-xl-5">
                            <div class="row mb-5">
                                <div
                                    class="row-md-12 col-xl-12 text-center mx-auto">
                                    
                                    <ul class="text-start">
                                        <li>ID Picture - 4pes 1X1 size (RECENT,white background, formal & not scan)</li>
                                        <li>PROOF of TIN (ID / 1904 / 2316) - must CERTIFIED TRUE COPY by BIR</li>
                                        <li>GOVT ID's - any 2 Colored, back to back with 3 specimen signature</li>
                                        <li>BIRTH CERTIFICATE/CENOMAR (f Single) - Clearcopy</li>
                                        <li>MARRIAGE CERTIFICATE (If Married) - Clearcopy</li>
                                        <li>SPOUSE ID's - any 2 Colored, back to back with 3 specimen signature</li>
                                        <li>MERALCO BILL - Latest & Paid, Original/Clearcopy</li>
                                        <li>Certificate of Tenancy - Original</li>
                                        <li>Bill Owner's 2 valid ID - Colored, back to back with 3 specimen signature</li>
                                        <li>*Brgy Residency Cert (Housing Loan Purposes)-Original</li>
                                        <li>Print outESAV/MDF/SOA(atleast 24mos & must be up to date)</li>
                                        <li>Screenshot of FACEBOOK account (PA & AIF) - Print</li>
                                        <li>Signed Loan Documents</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="localEmployedModal" tabindex="-1"
            aria-labelledby="localEmployedLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="localEmployedLabel">LOCALLY EMPLOYED REQUIREMENTS</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container py-4 py-xl-5">
                            <div class="row mb-5">
                                <div
                                    class="row-md-12 col-xl-12 text-center mx-auto">
                                    
                                    <ul class="text-start">
                                        <li>PAYSLIP (Latest 3months, must CERTIFIED TRUE COPY by HR)</li>
                                        <li>COMPANY ID - Colored, back to back with 3 specimen signature</li>
                                        <li>Cert. of Employment w/ Compensation (Original & Duly Notarized)</li>
                                        <li>BIR 2316 with ANNEX F (for 25k salary) -Certified by BIR</li>
                                        <li>Service Record (for GOV'T EMPLOYEE only) - Original</li>
                                        <li>Government Waiver (for GOVT EMPLOYEE only) - Original</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ofwModal" tabindex="-1"
            aria-labelledby="ofwLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="ofwLabel">OFW REQUIREMENTS</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container py-4 py-xl-5">
                            <div class="row mb-5">
                                <div
                                    class="row-md-12 col-xl-12 text-center mx-auto">
                                    
                                    <ul class="text-start">
                                        <li>Latest JOB CONTRACT (consul / complete set / clear copy)</li>
                                        <li>Cert. ofEmployment w/Compensation (Consul / Original)</li>
                                        <li>OVERSEAS EMPLOYMENT CERTIFICATE (OEC) clear copy</li>
                                        <li>BIR 2316 with ANNEX F (for 25k salary) -Certified by BIR</li>
                                        <li>POEA OVERSEAS FILIPINO WORKER INFORMATION clear copy</li>
                                        <li>PASSPORT - Colored with 3 specimen signature</li>
                                        <li>Residence ID (Land Base) / Seaman's Book (Sea Base) clearcopy</li>
                                        <li>Work Permit / Visa (clearcopy)</li>
                                        <li>Special Power ofAttomey (SPA) - __ sets Original & Notarized</li>
                                        <li>Electronic Ticket / VISA (EXIT AND ENTRY STAMP)clearcopy</li>
                                        <li>AIF Govt ID's - any 2 Colored, back to back with 3 specimen signature</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="selfEmployedModal" tabindex="-1"
            aria-labelledby="selfEmployedModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="selfEmployedModalLabel">SELF EMPLOYED</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container py-4 py-xl-5">
                            <div class="row mb-5">
                                <div
                                    class="row-md-12 col-xl-12 text-center mx-auto">
                                    
                                    <ul class="text-start">
                                        <li>PICTURES OF Business Establishment -Original & Latest</li>
                                        <li>Sketch ofBusiness location</li>
                                        <li>Audited Financial Statement - Latest</li>
                                        <li>Business Permit - Latest</li>
                                        <li>Mayor's Permit - Latest</li>
                                        <li>DTI Registration -Latest</li>
                                        <li>BIR 1701 FORMS with RECEIPT -must CERTIFIED by BIR</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>